.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 5%;
    background:rgb(25, 25, 25);
    color: white;
    padding: 0.5rem 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    margin: 0 1rem;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .navbar li:hover {
    color: #b6605fe1;
  }
  